/* ==========================================================================
   Reset all 
   ========================================================================== */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* Display & box model */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


/* ==========================================================================
   Layout + style
   ========================================================================== */

/* Players panel
   ========================================================================== */
.players-container {
    /* Display & box model */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    gap: 32px;
}

.player {
    /* Display & box model */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.inactive {
    /* Other */
    opacity: 0.5;
}

/* Lines
   ========================================================================== */
.horizontal-line {
    /* Positioning */
    position: absolute;
    /* Display & box model */
    height: 4px;
    width: 300px;
    /* Other */
    background-color: rgba(0, 0, 0, 1);
    
}

.transform-vertical {
    /* Other */
    transform: rotate(90deg);
}


/* Table
   ========================================================================== */
table {
    border-collapse: collapse;
}

tr {
    width: 360px;
}

td {
    /* Positioning */
    position: relative;
    /* Display & box model */
    width: 120px;
    height: 120px;
    /* Other */
    border: 1px solid rgba(0, 0, 0, 1);
}

/* All td's in the 1. row -> no border top */
tr:first-child td {
    border-top: 0;
}
/* All td's in the 3. column -> no border right */
tr td:last-child {
    border-right: 0;
}
/* All td's in the 3. row -> no border bottom */
tr:last-child td {
    border-bottom: 0;
}
/* All td's in the 1. column -> no border left */
tr td:first-child {
    border-left: 0;
}


/* Squares 
   ========================================================================== */
.square {
    /* Display & box model */
    display: flex;
    justify-content: center;
    align-items: center;
}

.players-occupation {
    /* Positioning */
    position: absolute;
}


/* ==========================================================================
   Effects
   ========================================================================== */
.d-none {
    display: none;
}

td {
    cursor: pointer;
}

td:hover {
    background-color: rgba(0, 0, 0, 0.06);
}


/* ==========================================================================
   Font
   ========================================================================== */
h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
}

/* Implementation
   ========================================================================== */
/* Medium */
@font-face {
    font-family: 'Roboto';
    src: url(./fonts/Roboto-Medium.woff) format('woff');
    font-style: normal;
    font-weight: 500;
}